<div class="success mb-4 md-hide">
  <div class="jumbotron jumbotron-fluid text-white bg-sticky submit-jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-md-3 col-md-6 bg-white success-div">
          <div class="img-container">
            <img class="img-tick" src="./assets/images/Compressed/tick.png" />
          </div>
          <p class="submit-text-bold">Submited</p>
          <p class="submit-text-normal">
            Your request have been received<br />
            You have been added to the waiting list. Our team will contact you
            soon.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="success md-hide-rev">
    <div class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6 bg-white success-div mx-4">
          <div class="img-container">
            <img class="img-tick" src="./assets/images/Compressed/tick.png" />
          </div>
          <p class="submit-text-bold">Submited</p>
          <p class="submit-text-normal">
            Your request have been received<br />
            You have been added to the waiting list. Our team will contact you
            soon.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid description text-center">
  <div class="row">
    <div class="col mx-3 martb-55px">
      <p class="my-0 font-normal md-hide bottom-desc-normal">
        Be one of the first student athletes to monitize your personal brand.
        Sign up
      </p>
      <p class="font-normal md-hide bottom-desc-normal">
        for our waitlist to join Akrue
      </p>
      <p class="font-normal md-hide-rev bottom-desc-normal">
        Be one of the first student athletes to monitize your personal brand.
        Sign up for our waitlist to join Akrue
      </p>
      <a
        class="btn btn-color active jwl-btn text-white mt-2"
        routerLink="/wait-list"
      >
        JOIN THE WAITLIST
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
