<div class="service">
  <div class="jumbotron jumbotron-fluid text-white bg-sticky serv-jumbotron">
    <div class="container con-width">
      <!-- <h1 class="display-4 mob-a-block">Use Akrue to Monitize Your Brand</h1> -->
      <h1 class="display-4">Monitize. Protect. Grow</h1>
      <p class="lead md-hide">
        Use Akrue to create Social Media Income opportunities that don't
      </p>
      <p class="lead md-hide">take away from your most valuable asset, TIME.</p>
      <p class="lead md-hide-rev">
        Use Akrue to create Social Media Income opportunities that don't take
        away from your most valuable asset, TIME.
      </p>

    </div>
  </div>
  <div class="container-fluid description text-center ">
    <div class="row">
      <div class="col mx-3 my-4">
        <p class="my-0 fw-450 fs-xl">
          80% OF STUDENT ATHLETES LIVE BELOW THE POVERTY LINE
        </p>
        <p class="font-weight-bold fs-xl">WE ARE GOING TO CHANGE THAT</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid desc-home-txtimg">
  <div class="row">
    <div class="col-md-6 bg-white p-0 main-text-col">
      <div class="container text-col">
        <p class="fw-500 fs-xxl">Social Media</p>
        <p class="fs-xl">
          Use  your social media to monitize your everyday posts
          and work with the top brands in the industary.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img
        src="./assets/images/Service/serv1.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-white p-0">
      <img
        src="./assets/images/Service/serv2.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-6 p-0 main-text-col">
      <div class="container text-col">
        <p class="fw-500 fs-xxl">Elegibility</p>
        <p class="fs-xl">
          Akrue will handle the compliance said for you. Our main 
          goal is to protect your elegibility by working with your 
          university.  
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-white p-0 main-text-col">
      <div class="container text-col">
        <p class="fw-500 fs-xxl">Akrue Your Brand</p>
        <p class="fs-xl">
            Athletes will have access to valuable data to 
            help grow their following and opportunities.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img
        src="./assets/images/Service/serv3.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
  </div>
</div>
<div class="container-fluid mob-home-txtimg">
  <div class="row">
    <div class="col-md-6 p-0">
      <img
        src="./assets/images/Service/serv1.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-6 bg-white p-0 main-text-col">
      <div class="container text-col">
        <p class="fw-500 fs-xl">Social Media</p>
        <p class="fs-l">
          Use  your social media to monitize your everyday posts
          and work with the top brands in the industary.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-white p-0">
      <img
        src="./assets/images/Service/serv2.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-6 p-0 main-text-col">
      <div class="container text-col">
        <p class="fw-500 fs-xl">Elegibility</p>
        <p class="fs-l">
          Akrue will handle the compliance said for you. Our main 
          goal is to protect your elegibility by working with your 
          university.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-0">
      <img
        src="./assets/images/Service/serv3.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-6 bg-white p-0 main-text-col">
      <div class="container text-col">
        <p class="fw-500 fs-xl">Akrue Your Brand</p>
        <p class="fs-l">
            Athletes will have access to valuable data to 
            help grow their following and opportunities.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid description text-center">
  <div class="row">
    <div class="col mx-3 my-4">
      <p class="my-0 font-normal">
        Be one of the first student athletes to monitize your personal brand.
        Sign up
      </p>
      <p class="font-normal">for our waitlist to join Akrue</p>
      <a  class="btn btn-color btn-lg active contact-btn text-white" routerLink="/wait-list">
        JOIN THE WAITLIST
      </a>
    </div>
  </div>
</div>
