<div *ngIf="!this._helper.getComponentname()">
  <div class="container con-width md-hide" >
    <div class="row header mleft-5">
      <div class="col text-left">
        <a href=""  target="_blank" class="fa fa-youtube-play"></a>
        <a href="https://twitter.com/akruemedia?s=11"  target="_blank" class="fa fa-twitter"></a>
        <a href="#"  target="_blank" class="fa fa-facebook"></a>
        <a href="https://instagram.com/akruemedia?igshid=1tlxxw0j2okbd"  target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/company/akrue-media"  target="_blank" class="fa fa-linkedin"></a>
      </div>
    </div>
  </div>
  <div class="text-black">
    <nav
      class="navbar navbar-expand-md navbar-light bg-white nav-type static-top"
    >
      <div class="container con-width align-items-center">
        <a class="navbar-brand py-0 m-0 " href="#">
          <img
            src="./assets/images/Compressed/Akrue_logo.jpg"
           class="akrue-logo"
            alt=""
          />
        </a>
        <a
          class="btn btn-color ml-auto my-2 my-sm-0 mobile-contact-btn md-hide-rev text-white"
          routerLink="/contact-us"
        >
          CONTACT US
        </a>
        <button
          class="navbar-toggler border-0"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="">
            <img
              src="./assets/images/Compressed/menu.png"
              width="40"
              height="40"
              alt=""
            />
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li
              class="nav-item mar-left"
              [ngClass]="{'active': selectedItem == item}"
              (click)="listClick($event, item)"
              *ngFor="let item of menuItems"
              data-aos="flip-right"
            >
              <a class="nav-link font-weight-bold" 
              (click)="closeMenu()"
              routerLink="/{{item}}">
                {{ item}}
              </a>
            </li>
            <!-- <li class="nav-item active">
            <a class="nav-link" href="#"
              >HOME <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PODCAST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li> -->
          </ul>
          <a
            class="btn btn-color my-2 my-sm-0 contact-btn md-hide text-white mar-left"
            routerLink="/contact-us"
          >
            CONTACT US
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
