.navbar-toggler {
  outline: 0;
}

.fa {
//   background: black;
//   color: white!important;
//   padding: 7px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
//   border-radius: 50%;
}
