<div class="container md-hide">
  <div class="row">
    <div class="col text-right">
      <p class="mb-0">Login/Sign up</p>
    </div>
  </div>
</div>
<div class="text-black">
  <nav class="navbar navbar-expand-md navbar-light bg-white static-top">
    <div class="container">
      <a class="navbar-brand" href="#">AKRUE</a>
      <button
        class="btn btn-primary ml-auto my-2 my-sm-0 mobile-contact-btn md-hide-rev"
        type="submit"
      >
        CONTACT US
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li
            class="nav-item"
            [ngClass]="{'active': selectedItem == item}"
            (click)="listClick($event, item)"
            *ngFor="let item of menuItems"
          >
            <a class="nav-link" routerLink="/{{item}}"> {{ item}} </a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#"
              >HOME <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PODCAST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button
            class="btn btn-primary my-2 my-sm-0 contact-btn md-hide"
            type="submit"
          >
            CONTACT US
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>
