// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.akrue-logo{
  width: 112px;
  height: 30px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .akrue-logo{
    width: 222px;
    height: 48px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .akrue-logo{
    width: 222px;
    height: 48px;
  }
}

@media (min-width: 1500px) {

}

.navbar-toggler {
  outline: 0;
}

.fa {
//   background: black;
//   color: white!important;
//   padding: 7px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
//   border-radius: 50%;
}

.mar-left {
  margin-left: 60px;
}


