<div class="aboutus">
  <div class="jumbotron jumbotron-fluid text-white bg-sticky aboutus-jumbotron">
    <div class="container con-width">
      <h1 class="display-4 heading">Meet Our Team</h1>
      <p class="lead small-text">
        Akrue was made by student athletes for student athletess
      </p>
    </div>
  </div>
  <div class="container-fluid description text-center">
    <div class="row">
      <div class="col mx-3 my-4 animated animatedFadeInUp fadeInUp">
        <p class="my-0 top-desc-normal ">
          80% OF STUDENT ATHLETES LIVE BELOW THE POVERTY LINE
        </p>
        <p class="top-desc-bold mt-0">WE ARE GOING TO CHANGE THAT</p>
      </div>
    </div>
  </div>
</div>

<div class="container my-4 con-width desc-home-txtimg text-justify">
  <div class="row my-4 w-100">
    <div class="col-md-4 bg-white p-0 main-text-col my-2" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
      <img
        src="./assets/images/Compressed/Zach_Hunsaker.jpg"
        alt="..."
        class="img-thumbnail p-0 fit-img"
      />
    </div>
    <div class="col-md-7 offset-md-1 p-0 my-2" data-aos="fade" data-aos-offset="200" data-aos-delay="300">

      <div class="container tt-c mr-lg-0 pl-md-4 pr-md-0 mt-4">

      <!-- <div class="container tt-c mr-lg-0 ml-lg-4 px-lg-0"> -->
        <p class="body-text-bold">Zach Hunsaker</p>
        <p class="body-text-normal">
          Zach played NCAA Division 1 basketball for Brown University '20 while
          studying Economics and Portuguesr. His father, Dick Hunsaker, was a
          NCAA Division 1 basketball coach for 38 years . Zach's wife, Megan
          Hunsaker, is a successful social media influencer.
        </p>
      </div>
    </div>
  </div>
  <div class="row my-4 w-100">
    <div class="col-md-7 bg-white p-0" data-aos="fade-right" data-aos-offset="200" data-aos-delay="300">
      <div class="container tt-c ml-lg-0 pr-md-4 pl-md-0 mt-4">
        <p class="body-text-bold">Isaac Faldmo</p>
        <p class="body-text-normal">
          Isaac works as a skills enhancement trainer for Lace 'Em Up and has
          worked alongside NBA skills trainer Micah Lancaster and Tanner Lind.
          Isaac played basketball for Snow College and is completeing his
          education at BYU.
        </p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 offset-md-1 my-2 p-0 main-text-col" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
      <img
        src="./assets/images/Compressed/Isaac_Faldmo.jpg"
        height="400"
        alt="..."
        class="img-thumbnail p-0 fit-img"
      />
    </div>
  </div>
  <div class="row my-4 w-100">
    <div class="col-md-4 my-2 bg-white p-0 main-text-col" data-aos="fade" data-aos-offset="200" data-aos-delay="300">
      <img
        src="./assets/images/Compressed/Ashlyn.jpg"
        alt="..."
        class="img-thumbnail p-0 fit-img"
      />
    </div>
    <div class="col-md-7 offset-md-1 my-2 p-0" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
      <div class="container tt-c mr-lg-0 pl-md-4 pr-md-0 mt-4">
        <p class="body-text-bold">Ashlyn</p>
        <p class="body-text-normal">
          Ashlyn is a graduate of the University of Florida with bachelor's
          degree in Buisness Marketing and Sports Management. She has worked
          with the with the Florida Gator Football teams as an Operations
          Assistant in on-campus recruiting events and player personnel tasks.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mob-home-txtimg text-justify">
  <div class="row">
    <div class="col-md-6 my-2 container" data-aos="fade" data-aos-offset="200" data-aos-delay="300">
      <img
      src="./assets/images/Compressed/Zach_Hunsaker.jpg"
      alt="..."
      class="img-thumbnail p-0 fit-img"
    />
    </div>
    <div class="col-md-6 my-2 bg-white p-0 main-text-col" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
      <div class="container tt-c">
        <p class="body-text-bold">Zach Hunsaker</p>
        <p class="body-text-normal">
          Zach played NCAA Division 1 basketball for Brown University '20 while
          studying Economics and Portuguesr. His father, Dick Hunsaker, was a
          NCAA Division 1 basketball coach for 38 years . Zach's wife, Megan
          Hunsaker, is a successful social media influencer.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-white container" data-aos="fade" data-aos-offset="200" data-aos-delay="300">
      <img
        src="./assets/images/Compressed/Isaac_Faldmo.jpg"
        alt="..."
        class="img-thumbnail p-0 fit-img"
      />
    </div>
    <div class="col-md-6 my-2 p-0 main-text-col" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
      <div class="container tt-c ">
        <p class="body-text-bold">Isaac Faldmo</p>
        <p class="body-text-normal">
          Isaac works as a skills enhancement trainer for Lace 'Em Up and has
          worked alongside NBA skills trainer Micah Lancaster and Tanner Lind.
          Isaac played basketball for Snow College and is completeing his
          education at BYU.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-2 container" data-aos="fade" data-aos-offset="200" data-aos-delay="300">
      <img
        src="./assets/images/Compressed/Ashlyn.jpg"
        alt="..."
        class="img-thumbnail p-0 fit-img"
      />
    </div>
    <div class="col-md-6 my-2 bg-white p-0 main-text-col" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300">
      <div class="container tt-c">
        <p class="body-text-bold">Ashlyn</p>
        <p class="body-text-normal">
          Ashlyn is a graduate of the University of Florida with bachelor's
          degree in Buisness Marketing and Sports Management. She has worked
          with the with the Florida Gator Football teams as an Operations
          Assistant in on-campus recruiting events and player personnel tasks.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid description text-center">
  <div class="row">
    <div class="col mx-3 my-4">
      <p class="my-0 font-normal md-hide">
        Be one of the first student athletes to monitize your personal brand.
        Sign up
      </p>
      <p class="font-normal md-hide">for our waitlist to join Akrue</p>
      <p class="font-normal md-hide-rev">Be one of the first student athletes to monitize your personal brand. Sign up for our waitlist to join Akrue</p>
      <a  class="btn btn-primary btn-lg active contact-btn text-white" routerLink="/wait-list">
        JOIN THE WAITLIST
      </a>
    </div>
  </div>
</div>
