<div class="aboutus">
  <div class="jumbotron jumbotron-fluid text-white bg-sticky aboutus-jumbotron">
    <div class="container con-width">
      <h1 class="display-4">Meet Our Team</h1>
      <p class="lead">
        Akrue was made by student athletes for student athletess
      </p>
    </div>
  </div>
  <div class="container-fluid description text-center mb-4">
    <div class="row">
      <div class="col mx-3">
        <p class="my-0 fw-450 fs-xl">
          80% OF STUDENT ATHLETES LIVE BELOW THE POVERTY LINE
        </p>
        <p class="font-weight-bold fs-xl">WE ARE GOING TO CHANGE THAT</p>
      </div>
    </div>
  </div>
</div>

<div class="container con-width desc-home-txtimg">
  <div class="row">
    <div class="col-md-5 bg-white p-0 main-text-col">
      <img
        src="./assets/images/About_us/Zach_Hunsaker.png"
        alt="..."
        class="img-thumbnail p-0 fit-img"
      />
    </div>
    <div class="col-md-7 p-0">
      <div class="container tt-c mr-lg-0 ml-lg-4 px-lg-0">
        <p class="fw-500 fs-xl">Zach Hunsaker</p>
        <p class="fs-l">
          Zach played NCAA Division 1 basketball for Brown University '20 while
          studying Economics and Portuguesr. His father, Dick Hunsaker, was a
          NCAA Division 1 basketball coach for 38 years . Zach's wife, Megan
          Hunsaker, is a successful social media influencer.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 bg-white p-0">
      <div class="container tt-c ml-lg-0 pr-lg-4 pl-lg-0">
        <p class="fw-500 fs-xl">Isaac Faldmo</p>
        <p class="fs-l">
          Isaac works as a skills enhancement trainer for Lace 'Em Up and has
          worked alongside NBA skills trainer Micah Lancaster and Tanner Lind.
          Isaac played basketball for Snow College and is completeing his
          education at BYU.
        </p>
      </div>
    </div>
    <div class="col-md-5 p-0 main-text-col">
      <img
        src="./assets/images/About_us/Isaac_Faldmo.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 bg-white p-0 main-text-col ">
      <img
        src="./assets/images/About_us/Ashlyn.png"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-7 p-0">
      <div class="container tt-c mr-lg-0 ml-lg-4 px-lg-0">
        <p class="fw-500 fs-xl">Ashlyn</p>
        <p class="fs-l">
          Ashlyn is a graduate of the University of Florida with bachelor's
          degree in Buisness Marketing and Sports Management. She has worked
          with the with the Florida Gator Football teams as an Operations
          Assistant in on-campus recruiting events and player personnel tasks.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mob-home-txtimg">
  <div class="row">
    <div class="col-md-6 container">
      <img
      src="./assets/images/About_us/Zach_Hunsaker.png"
      alt="..."
      class="img-thumbnail p-0 fit-img"
    />
    </div>
    <div class="col-md-6 bg-white p-0 main-text-col">
      <div class="container tt-c">
        <p class="fw-500 fs-xl">Zach Hunsaker</p>
        <p class="fs-l">
          Zach played NCAA Division 1 basketball for Brown University '20 while
          studying Economics and Portuguesr. His father, Dick Hunsaker, was a
          NCAA Division 1 basketball coach for 38 years . Zach's wife, Megan
          Hunsaker, is a successful social media influencer.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-white container">
      <img
        src="./assets/images/About_us/Isaac_Faldmo.jpg"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-6 p-0 main-text-col ">
      <div class="container tt-c ">
        <p class="fw-500 fs-xl">Isaac Faldmo</p>
        <p class="fs-l">
          Isaac works as a skills enhancement trainer for Lace 'Em Up and has
          worked alongside NBA skills trainer Micah Lancaster and Tanner Lind.
          Isaac played basketball for Snow College and is completeing his
          education at BYU.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 container">
      <img
        src="./assets/images/About_us/Ashlyn.png"
        alt="..."
        class="img-thumbnail p-0"
      />
    </div>
    <div class="col-md-6 bg-white p-0 main-text-col">
      <div class="container tt-c">
        <p class="fw-500 fs-xl">Ashlyn</p>
        <p class="fs-l">
          Ashlyn is a graduate of the University of Florida with bachelor's
          degree in Buisness Marketing and Sports Management. She has worked
          with the with the Florida Gator Football teams as an Operations
          Assistant in on-campus recruiting events and player personnel tasks.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid description text-center">
  <div class="row">
    <div class="col mx-3 my-4">
      <p class="my-0 font-normal md-hide">
        Be one of the first student athletes to monitize your personal brand.
        Sign up
      </p>
      <p class="font-normal md-hide">for our waitlist to join Akrue</p>
      <p class="font-normal md-hide-rev">Be one of the first student athletes to monitize your personal brand.
        Sign up for our waitlist to join Akrue</p>
      <a  class="btn btn-primary btn-lg active contact-btn text-white" routerLink="/wait-list">
        JOIN THE WAITLIST
      </a>
    </div>
  </div>
</div>
