.aboutus .jumbotron {
  // height: 50vh;
  // background-position: center;
}


.fit-img{
  // width:100%;
  // height:350px;
  // object-fit:cover;
}
.body-text-normal{
  font-size: 18px;
}
@media (min-width: 576) {
  .fit-img{
    // height:350px;
    // object-fit:cover;
  }
}
@media (min-width: 992px) {
  .body-text-normal{
    font-size: 25px;
  }
  .fit-img{
    // width:100%;
    // height:400px;
    // object-fit:cover;
  }
}
@media (min-width: 1200px) {
  .body-text-normal{
    // font-size: 28px;
  }
}
.main-text-col{
  margin: 0;
}

.martb-abu-100{
  margin-top: 105px;
  margin-bottom: 93px;
}

.marb-abu-75{
  margin-top: 105px;
  margin-bottom: 93px;
}
