<div *ngIf="!subWlist">loading...</div>
<div class="container">
  <img class="auth-logo mt-2" src="./assets/images/Compressed/Akrue_logo.jpg" />
  <button
    class="btn btn-color active text-white mt-2 mx-4 float-right btn-radius"
    (click)="logout()"
  >
    Logout
  </button>
</div>
<div class="container">
  <p class="text-center mb-0" style="font-size: 26px;">Join the WaitList</p>
</div>
<div class="container text-right mb-3">
  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <select
      formControlName="type"
      class="mr-2 select-type"
      (change)="hidedate()"
    >
      <option value="All" [selected]="true">All</option>
      <option value="select">Select Date</option>
    </select>
    <span *ngIf="dateHide" class="date-span">
      <input (change)="filterWlist()" formControlName="from" class="from" id="from" type="date" />
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <input (change)="filterWlist()"
        formControlName="to"
        class="to"
        id="to"
        type="date"
      />
    </span>
    <button
      class="btn bg-white active text-black"
      style="font-size: 15px;"
      (click)="download()"
    >
      <img src="./assets/images/Compressed/download.svg" />
      Download
    </button>
  </form>
</div>
<div class="w-100"></div>

<div class="container-fluid wllist-form-cont">
  <div class="row">
      <table class="table table-bordered">
        <tr class="bg-header">
          <th scope="col" class="mr-4">Date</th>
          <th scope="col" class="mr-4">Email</th>
          <th scope="col" class="mr-4">First name</th>
          <th scope="col" class="mr-4">Last name</th>
          <th scope="col" class="mr-4">Type of Sport</th>
          <th scope="col" class="mr-4">Gender</th>
          <th scope="col" class="mr-4">University</th>
          <th scope="col" class="mr-4">Graduating Year</th>
          <th scope="col" class="mr-4">Referred Email</th>
          <th scope="col" class="mr-4">Instagram id</th>
        </tr>
        <tr scope="row" *ngFor="let list of filteredwList">
          <!-- <td class="mr-4">{{i +1}}</td> -->
          <td class="mr-4">{{list.createdAt | date}}</td>
          <td class="mr-4">{{list.userEmail}}</td>
          <td class="mr-4">{{list.firstName}}</td>
          <td class="mr-4">{{list.lastName}}</td>
          <td class="mr-4">{{list.sport}}</td>
          <td class="mr-4">{{list.gender}}</td>
          <td class="mr-4">{{list.university}}</td>
          <td class="mr-4">{{list.graduatingYear}}</td>
          <td class="mr-4">{{list.refererEmail}}</td>
          <td class="mr-4">{{list.instaUsername}}</td>
        </tr>
      </table>
  </div>
</div>
<div class="container-fluid w-100 bg-black text-white fixed-bottom">
  <div class="container py-3">
    <div class="row fs-s">
      <div class="col-md-6 copy-text text-lg-left text-sm-center">
        <p>&#169;AKRUE MEDIA. All rights reserved.</p>
      </div>
      <div class="col-md-6 copy-text text-lg-right text-sm-center">
        <div class="logos ml-auto text-white">
          <a href="https://www.youtube.com/channel/UCk4-4lovzoi74cME5THwnsg?guided_help_flow=5" class="fa fa-youtube-play text-white"></a>
          <a
            href="https://twitter.com/ashandelpodcast"
            target="_blank"
            class="fa fa-twitter text-white"
          ></a>
          <a href="https://www.facebook.com/Ash-El-Podcast-100765011990200/?view_public_for=100765011990200" class="fa fa-facebook text-white"></a>
          <a
            href="https://www.instagram.com/ash.and.el/"
            target="_blank"
            class="fa fa-instagram text-white"
          ></a>
          <!-- <a
            href="https://www.linkedin.com/company/akrue-media"
            target="_blank"
            class="fa fa-linkedin text-white"
          ></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
