// .container{
//     margin-top: 100px;
//     margin-bottom: 100px;
// }


.header{
    display: none!important;
}

form{
    // width: 260px;
    // margin: auto;
}


.login-logo{
    height: 40px;
}

.log-marigin{
    margin: 100px 0;
}