<div class="jumbotron jumbotron-fluid text-white bg-sticky footer-jumbotron">
  <div class="container con-width">
    <div class="row">
      <div class="col-sm-6 footer-left">
        <h1>AKRUE</h1>
        <p class="footer-text">
          The rule is finally changing,and we are ready. Monitize your social
          media without taking time away from athletics and academics, We will
          handle the rest.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-4">
            <h5>Sitemap</h5>
            <p class="footer-text">Student Athletes</p>
            <p class="footer-text">Coaches</p>
            <p class="footer-text">Universities</p>
            <p class="footer-text">Brands</p>
            <p class="footer-text">About</p>
            <p class="footer-text">Contact Us</p>
          </div>
          <div class="col-3">
            <h5>Legal</h5>

            <p class="footer-text">Terms</p>
            <p class="footer-text">Privacy</p>
          </div>
          <div class="col-5 px-0">
            <h5>Contact</h5>
            <br/>
            <h6 class="mt-4">Email US:</h6>
            <a href="mailto:akruemedia@gmail.com" class="footer-text-small text-white">akruemedia@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid w-100 bg-black text-white">
  <div class="container py-3 ">
    <div class="row fs-s">
      <div class="col-md-6 copy-text text-lg-left text-sm-center">
        <p>@AKRUE MEDIA. All rights reserved.</p>
      </div>
      <div class="col-md-6 copy-text text-lg-right text-sm-center">
        <div class="logos ml-auto text-white ">
          <a href="#" class="fa fa-youtube-play text-white"></a>
          <a href="https://twitter.com/akruemedia?s=11"  target="_blank" class="fa fa-twitter text-white"></a>
          <a href="#" class="fa fa-facebook text-white"></a>
          <a href="https://instagram.com/akruemedia?igshid=1tlxxw0j2okbd"  target="_blank" class="fa fa-instagram text-white"></a>
          <a href="https://www.linkedin.com/company/akrue-media"  target="_blank" class="fa fa-linkedin text-white"></a>
        </div>
      </div>
    </div>
  </div>
</div>
