img{
 height: 40px;
}
// .container {
//     height: 500px;
// }

.akrue-logo{
    width: 112px;
    height: 30px;
  }
.row{
    margin-top: 150px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}