/* You can add global styles to this file, and also import other style files */

$bg-color: white;

$bg-color-black: #212529;

$cj-text-color: #c0c0c0;

$cj-bg-color: #f8f8f9;

$button-color: #0166FF;

$font-family: Montserrat;
body {
  background-color: $bg-color;
  font-family: $font-family!important;
}
a {
  color: black !important;
}

.btn-color{
  background: $button-color;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 black;
}

.fa {
  //   background: black;
  //   color: white!important;
  //   padding: 7px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  //   border-radius: 50%;
  }


// Nav bar
.nav-item.active a {
  color: blue !important;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: none; 
}
.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

.navbar>.container{
  align-items: flex-end;
}
.bg-black {
  background-color: $bg-color-black;
}
.contact-btn,
.mobile-contact-btn {
  border-radius: 43px 43px;
}

.nav-type {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
// Nav bar

.md-hide {
  display: none;
}

.md-hide-rev {
  display: block;
}

// Jumbo tron

.text-col {
  margin: auto;
}

.main-text-col {
  margin: auto;
}

.wait-list {
  margin-top: 80px;
}
.jumbotron {
  // padding: 1rem;
  // margin-top: 50px;

  // height: 85vh !important;
  margin-top: 80px;
  background-size: cover;
  background-position: top;
  background-attachment: initial;
  margin-bottom: 0;
}

// .serv-jumbotron,.podcast-jumbotron ,.aboutus-jumbotron, .contactus-jumbotron{
//   height: 50vh !important;
// }

.home-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./assets/images/Homepage/Banner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url(./assets/images/Homepage/Banner.jpg);
}
.serv-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./assets/images/Service/servbanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url(./assets/images/Service/servbanner.jpg);
}

.podcast-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./assets/images/Podcast/podbanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url(./assets/images/Podcast/podbanner.jpg);
}

.aboutus-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./assets/images/About_us/auBanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url(./assets/images/About_us/auBanner.jpg);
}

.contactus-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./assets/images/Contact_us/cubanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url(./assets/images/Contact_us/cubanner.jpg);
  background-position: center;
}

.login-image{
  margin-top: 0px;
  background-size: cover;
  background-position: top;
  background-attachment: initial;
  margin-bottom: 0;
  height: 70vh;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0.7))
  ),
  url(./assets/images/Login/logbg.jpg);
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(./assets/images/Login//logbg.jpg);
}

// Footer
.footer-jumbotron {
  margin-top: 0;
  // height: 80vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(./assets/images/Homepage/Homepage_Footer.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/images/Homepage/Homepage_Footer.jpg);
}

.main-menu {
  margin: 0 auto;
}
.display-4 {
  font-weight: 700;
}

.mobile .mob-a-block {
  font-weight: 500;
}

// Mobile
.mobile {
  .mob-a-block {
    display: block;
    font-weight: 500;
  }
}

.mob-a-block {
  display: none;
}

.mobile .desc-a-block {
  display: none;
}

.desc-a-block {
  display: block;
}

// Description
.description {
  background-color: #f7f6f4;
}

.fw-450 {
  font-weight: 450 !important;
}
.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 500 !important;
}
.fs-s {
  font-size: small;
}
.fs-l {
  font-size: larger !important;
}

.fs-xl {
  font-size: x-large !important;
}

.fs-xxl {
  font-size: xx-large !important;
}

// home
.desc-home-txtimg {
  display: none;
}

.mob-home-txtimg {
  display: block;
}

.mobile {
  // .description{
  //   margin: 0 20px;
  // }
}

// footer

// Responsive

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron,
  .wait-list {
    // height: 60vh !important;
    margin-top: 80px;
  }

  .home-jumbotron,
  .wait-list {
    // height: 70vh !important;
    margin-top: 80px;
  }

  .text-col {
    width: 100% !important;
  }

  .img-thumbnail{
    border: 0;
    border-radius: 0;
  }

  // .nav-type{
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 1030;
  // }

  .nav-type {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron {
    // height: 50vh !important;
  }

  .home-jumbotron {
    // height: 60vh !important;
  }

  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron,
  .wait-list,
  .home-jumbotron {
    margin-top: 0px;
  }
  .text-col {
    width: 100% !important;
  }
  .fw-450 {
    font-weight: 400 !important;
  }
  .fw-500 {
    font-weight: 450 !important;
  }

  .fs-l {
    font-size: large !important;
  }

  .fs-xl {
    font-size: larger !important;
  }

  .fs-xxl {
    font-size: x-large !important;
  }
  .desc-home-txtimg {
    display: block;
  }
  .mob-home-txtimg,
  .md-hide-rev {
    display: none;
  }
  .md-hide {
    display: block;
  }
  .nav-type {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron {
    // height: 60vh !important;
    margin-top: 0px;
  }

  .home-jumbotron {
    // height: 80vh !important;
    margin-top: 0px;
  }
  .text-col {
    width: 90% !important;
  }
  .fw-450 {
    font-weight: 450 !important;
  }
  .fw-500 {
    font-weight: 500 !important;
  }

  .fs-l {
    font-size: larger !important;
  }

  .fs-xl {
    font-size: x-large !important;
  }

  .fs-xxl {
    font-size: xx-large !important;
  }

  .nav-type {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  // .footer-left {
  //   padding: 0 70px;
  // }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron {
    // height: 50vh !important;
    margin-top: 0px;
  }

  .home-jumbotron {
    // height: 80vh !important;
    margin-top: 0px;
  }
  .text-col {
    width: 72% !important;
  }
  .fw-450 {
    font-weight: 450 !important;
  }
  .fw-500 {
    font-weight: 500 !important;
  }

  .fs-l {
    font-size: larger !important;
  }

  .fs-xl {
    font-size: x-large !important;
  }

  .fs-xxl {
    font-size: xx-large !important;
  }
  .nav-type {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

// Container width only

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // .con-width {
  //   max-width: 720px;
  // }
}

//  Contact us

.cj-text-color {
  color: $cj-text-color;
}

.cj-bg-color {
  background-color: $cj-bg-color;
}

.form-control {
  border: 1px solid $cj-bg-color;
}

.form-control:focus {
    color: #495057;
    // background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 BLACK; 
}