/* You can add global styles to this file, and also import other style files */

$bg-color: white;

$bg-color-black: #212529;

$cj-text-color: #c0c0c0;

$cj-bg-color: #f8f8f9;

$button-color: #0166ff;

$font-family: Montserrat;

html {
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
  font-family: $font-family !important;
}
a {
  color: black !important;
}

.fb-color {
  color: #3271a9 !important;
}

.btn-color {
  background: $button-color;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 black;
}

// Animations

// Fade in
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s; /* Firefox */
  -o-animation-duration: 2s;

  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.animatedFade {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeInDown {
  opacity: 0;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
}
// Animatin end

.fa {
  //   background: black;
  //   color: white!important;
  //   padding: 7px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  //   border-radius: 50%;
}

// Nav bar
.nav-item.active a {
  color: blue !important;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}
.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

.navbar > .container {
  align-items: flex-end;
}
.bg-black {
  background-color: $bg-color-black;
}
.contact-btn,
.mobile-contact-btn {
  border-radius: 43px 43px;
}

.nav-type {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
// Nav bar

.md-hide {
  display: none;
}

.md-hide-rev {
  display: block;
}

// Jumbo tron

.jumbotron p,
.jumbotron h1 {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.text-col {
  margin: auto;
}

.main-text-col {
  margin: auto;
}

.wait-list {
  margin-top: 80px;
}
.jumbotron {
  // padding: 1rem;
  // margin-top: 50px;

  // height: 85vh !important;
  margin-top: 80px;
  background-size: cover;
  background-position: top;
  background-attachment: initial;
  margin-bottom: 0;
}

// .serv-jumbotron,.podcast-jumbotron ,.aboutus-jumbotron, .contactus-jumbotron{
//   height: 50vh !important;
// }

.home-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/Banner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/Banner.jpg);
}
.serv-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/servbanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/servbanner.jpg);
}

.podcast-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/podbanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/podbanner.jpg);
}

.aboutus-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/auBanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/auBanner.jpg);
}

.contactus-jumbotron {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/cubanner.jpg);
  background-image: linear-gradient(#000000b3, rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/cubanner.jpg);
  background-position: center;
}

.login-image {
  margin-top: 0px;
  background-size: contain;
  background-position: top;
  background-attachment: initial;
  background-repeat: no-repeat;
  margin-bottom: 0;
  height: 500px;
  border-radius: 0;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/logbg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/logbg.jpg);
}

// Footer
.footer-jumbotron {
  margin-top: 0;
  // height: 80vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(./assets/images/Compressed/Homepage_Footer.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./assets/images/Compressed/Homepage_Footer.jpg);
}

.main-menu {
  margin: 0 auto;
}
.display-4 {
  font-weight: 500;
}

// .mobile .mob-a-block {
//   font-weight: 500;
// }

// Mobile
// .mobile {
//   .mob-a-block {
//     display: block;
//     font-weight: 500;
//   }
// }

// .mob-a-block {
//   display: none;
// }

// .mobile .desc-a-block {
//   display: none;
// }

// .desc-a-block {
//   display: block;
// }

// Description
.description {
  background-color: #f7f6f4;
}

.fw-450 {
  font-weight: 450 !important;
}
.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}
.fs-s {
  font-size: small;
}
.fs-l {
  font-size: larger !important;
}

.fs-xl {
  font-size: x-large !important;
}

.fs-xxl {
  font-size: xx-large !important;
}

// home
.desc-home-txtimg {
  display: none;
}

.mob-home-txtimg {
  display: block;
}

// .mobile {
// .description{
//   margin: 0 20px;
// }
// /}

// footer

// Responsive

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron,
  .wait-list {
    // height: 60vh !important;
    margin-top: 80px;
  }

  .home-jumbotron,
  .wait-list {
    // height: 70vh !important;
    margin-top: 80px;
  }

  .text-col {
    width: 100% !important;
  }

  .img-thumbnail {
    border: 0;
    border-radius: 0;
  }

  // .nav-type{
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 1030;
  // }

  .nav-type {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron {
    // height: 50vh !important;
    padding-top: 7%;
  }

  .home-jumbotron {
    padding-top: 9%;
    // height: 60vh !important;
  }

  .mar-left {
    margin-left: 7px !important;
  }

  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron,
  .wait-list,
  .home-jumbotron {
    margin-top: 0px;
  }
  .podcast-jumbotron {
    padding-top: 5% !important;
  }
  .text-col {
    width: 90% !important;
  }
  .fw-450 {
    font-weight: 400 !important;
  }
  .fw-500 {
    font-weight: 450 !important;
  }

  .fs-l {
    font-size: large !important;
  }

  .fs-xl {
    font-size: larger !important;
  }

  .fs-xxl {
    font-size: x-large !important;
  }
  .desc-home-txtimg {
    display: block;
  }
  .mob-home-txtimg,
  .md-hide-rev {
    display: none;
  }
  .md-hide {
    display: block;
  }
  .nav-type {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron {
    height: 60vh !important;
    margin-top: 0px;
  }

  .home-jumbotron {
    height: 80vh !important;
    margin-top: 0px;
  }

  .mar-left {
    margin-left: 30px !important;
  }
  .text-col {
    width: 75% !important;
  }
  .fw-450 {
    font-weight: 450 !important;
  }
  .fw-500 {
    font-weight: 500 !important;
  }

  .fs-l {
    font-size: larger !important;
  }

  .fs-xl {
    font-size: x-large !important;
  }

  .fs-xxl {
    font-size: xx-large !important;
  }

  .nav-type {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  // .footer-left {
  //   padding: 0 70px;
  // }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .serv-jumbotron,
  .podcast-jumbotron,
  .aboutus-jumbotron,
  .contactus-jumbotron {
    height: 60vh !important;
    margin-top: 0px;
  }

  .home-jumbotron {
    height: 100vh !important;
    margin-top: 0px;
  }
  .mar-left {
    margin-left: 50px !important;
  }
  .text-col {
    width: 75% !important;
  }
  .fw-450 {
    font-weight: 450 !important;
  }
  .fw-500 {
    font-weight: 500 !important;
  }

  .fs-l {
    font-size: larger !important;
  }

  .fs-xl {
    font-size: x-large !important;
  }

  .fs-xxl {
    font-size: xx-large !important;
  }
  .nav-type {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

// above 1500 px
@media (min-width: 1500px) {
  .text-col {
    width: 75% !important;
  }
}
// Container width only

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
.heading {
  font-weight: 700;
  font-size: 40px;
}
.small-text {
  font-weight: 400;
  font-size: 18px;
}

.top-desc-normal{
  font-size: 22px;
  font-weight: 500;
}

.top-desc-bold{
  font-size: 22px;
  font-weight: 700;
}

.body-text-bold{
  font-size: 20px;
  font-weight: 700;
}

.body-text-normal{
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .heading {
    font-weight: 700;
    font-size: 68px;
  }
  .small-text {
    font-weight: 400;
    font-size: 32px;
  }
  .body-text-bold{
    font-size: 30px;
    font-weight: 700;
  }
  
  .body-text-normal{
    font-size: 25px;
    font-weight: 500;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
  .body-text-bold{
    font-size: 30px;
    font-weight: 700;
  }
  
  .body-text-normal{
    font-size: 25px;
    font-weight: 500;
  }
}

@media (min-width: 1500px) {
  .body-text-bold{
    font-size: 33px;
    font-weight: 700;
  }
  
  
  .body-text-normal{
    font-size: 29px;
    font-weight: 500;
  }

}

@media (min-width: 2000px) {
  .body-text-bold{
    font-size: 40px;
    font-weight: 700;
  }
  
  .body-text-normal{
    font-size: 37px;
    font-weight: 500;
  }

}

//  Contact us

.cj-text-color {
  color: $cj-text-color;
}

.cj-bg-color {
  background-color: $cj-bg-color;
}

.form-control {
  border: 1px solid $cj-bg-color;
}

.form-control:focus {
  color: #495057;
  // background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 BLACK;
  box-shadow: 0 0 BLACK;
  box-shadow: 0 0 BLACK;
}
